@model List<PatientNoteToAdmin>
@{
    ViewData["Title"] = "ReceiveNoteFromPatient";
    Layout = "~/Views/Shared/_Layout_Owner.cshtml";
}
<h2 style="color: brown">Admin Recieve Notes From Patients</h2>

<table class="table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.patient.Patient_FirstName @note.patient.Patient_LastName</td>
                <td>@note.MessageTime</td>
                <td>
                    <textarea rows="5" cols="50" readonly>@note.Discription</textarea>
                </td>
            </tr>
        }
    </tbody>
</table>

