@model ClinicProject.Models.PatientLogin
@{
    ViewData["Title"] = "LoginPatient";
    Layout = "~/Views/Shared/LoginRegister2_Layout/_Layout_Login.cshtml";
}
<title>Tabeebk Patient | Login</title>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <header><span style="color:#0171d3">Patient</span></header>
                <form asp-action="LoginPatient">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" asp-for="Patient_Email">

                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" asp-for="Patient_Password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field button-field">
                        <button asp-action="LoginPatient">Login</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Don't have an account? <a asp-action="RegisterPatient" class="link signup-link">Signup</a></span>
                </div>
            </div>
        </div>
    </section>


</body>