
@{
	ViewData["Title"] = "IndexWithoutClinic";
	Layout = "~/Views/Shared/Doctor_Layout/_Layout_Doctor.cshtml";
}



<link rel="stylesheet" href="~/css/Boxflash/flash.css">


<div><span style="color:white">_<br />_<br />_<br />_<br />_<br />_</span></div>
<div class="box">

	<h1>Add Your Clinic</h1>
	<a asp-action="AddClinic"  asp-controller="Clinic" class="btn btn-primary">Go</a>
</div>
<div><span style="color:white">_<br />_<br />_<br />_<br />_<br />_</span></div>




	






